Q2. # Data Science Tools and Ecosystem

Q3. In this notebook, Data Science Tools and Ecosystem are summarized.

- **List popular languages for data Science**
- **List the commonly used libraries used by Data Scientists**
- **List three development environment open source tools in data science**

Q4.
1. Python
2. R
3. SQL

Q5.
1. Numpy
2. Pandas
3. Scikit-learn

Q6
|Data science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|VS Code|

Q7.
## Below are a few examples of evaluation arithmetic expression in Python

Q8.

In [3]:
#This a simple arithmetic expression to multiply then add integers. 
result= (3*4)+5
result

17

Q9.

In [4]:
#This is convert 200 minutes to hours by diving by 60.
Hours = 200/60
Hours

3.3333333333333335

Q11.

## Author
Kai